################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CafeShopManagementSystem/CafeShopManagementSystem.sln
/CafeShopManagementSystem/CafeShopManagementSystem/CafeShopManagementSystem.csproj
